body{
	color: white;
	background-image: url(../images/pont.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.logo{
	font-weight: bold;
	color: white!important;
}
.navbar{
	background: inherit;
	/*margin-top: 20px !important;*/
}
.form1, .form_connexion{
	margin-top: 75px;
	background-color: black;
	margin-bottom: 75px;
	padding-bottom: 50px;
	opacity: 0.86;
	border-radius: 20px;
}
.form2, .form3{
	margin-top: 50px;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
.btn{
	background:rgb(119 84 201) ;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 6px ;
}
.btn:active{
	box-shadow: 0 0 rgb(119 84 201);
	top:6px;
}

#im{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	border-radius: 50px;
}

table{
	color: black!important;
}
@media all and (max-width: 768px){
	.form1{
	/*margin-top: -40px;*/
	
	height: 800px!important;
	opacity: 0.75;
	}
	.form_connexion{
		height: 300px !important;
		padding-top: 1px;
	}
	a{
		display: inline-block !important;
	}
}
@media screen and (max-width: 1024px){
	.form1{
	margin-top: -40px;
	opacity: 0.75;
	}
}
